<h1>Forums controller, edit action</h1>

<p>Edit this file in <tt>app/views/forums/edit.html.erb</tt></p>
<%= link_to "<- back", resource(@forum) %>

<%= form_for @forum, :action => resource(@forum) do %>
  <%= partial :form %>
  <%= submit "update" %>
<% end =%>