<h1>Forums controller, index action</h1>

<p>Edit this file in <tt>app/views/forums/index.html.erb</tt></p>
<% if @forums.any? %>
<ul>
  <% @forums.each do |f| %>
    <li><%= link_to f.title, resource(f) %></li>
  <% end %>
</ul>
<% end %>

<%= link_to "New Forum", resource(:forums,:new) %>