<h1>Forums controller, new action</h1>

<%= link_to "<- index", resource(:forums) %>

<%= form_for @forum, :action => resource(:forums) do %>
  <%= partial :form %>
  <%= submit "create" %>
<% end =%>

