<h1>Discussions for <%= @forum.title %></h1>

<p>Edit this file in <tt>app/views/discussions/index.html.erb</tt></p>
<% if @discussion.any? %>
<ul>
  <% @discussion.each do |d| %>
    <li><%= link_to d.title, resource(@forum, d) %></li>
  <% end %>
</ul>
<% end %>