<h1>Discussions controller, new action</h1>

<p>Edit this file in <tt>app/views/discussions/new.html.erb</tt></p>

<%= form_for @discussion, :action => resource(@forum, :discussions) do %>
<%= partial :form %>
<%= submit "create" %>
<% end =%>